{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Update Product</h4>
    <!--begin::Form-->
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}"
                   class="form-control {{ field.css_classes }}"
                   id="{{ field.id_for_label }}"
                   name="{{ field.html_name }}"
                   value="{{ field.value|default_if_none:'' }}"
                   {% if field.field.required %}required{% endif %}>
            {% if field.help_text %}
            <small id="{{ field.id_for_label }}Help" class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <a type="button" class="btn btn-danger" href="{% url 'product:product-list' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    <!--end::Form-->
</div>
{% endblock %}